{% extends "base.html" %}
{% load static %}

{% block header %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}


{% block content %}

<!--Page-1-->
<div class="page-1">
    <div class="container">
        <div class="page-1-inner" id="page-1-inner">
        <!-- <div class="page-1-inner none" id="page-1-inner"> -->
            <!-- <div style="height: 5em;"></div> -->
            <div class="page-1-gates-logo">
                <div>
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/G.svg' %}" />
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/A.svg' %}" />
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/T.svg' %}" />
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/E.svg' %}" />
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/S.svg' %}" />
                </div>
                <div>
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/two.svg' %}" />
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/zero.svg' %}" />
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/two.svg' %}" />
                    <img class="page-1-img-popOut" src="{% static 'assets/smallElement/zero.svg' %}" />
                </div>
            </div>
            <div style="height: 1em;"></div>
            <div id="page-1-lower-content-elmts">
                <!-- <div class="none" id="page-1-lower-content-elmts"> -->
                <div class="page-1-date">
                    March 18<sup>th</sup> - 20<sup>th</sup> 2020
                </div>
                <div class="page-1-venue">
                    Techno Cultural Fest
                </div>
                <div class="page-1-venue-2">GTBIT</div>
            </div>
        </div>
    </div>
</div>
<!--Page-1-->
<div class="spacing-5"></div>
<!--Page-2-->
<div class="page-2">
    <div class="container">
        <div class="page-2-heading"><img src="{% static 'assets/images/events.svg' %}" /></div>
    </div>
</div>
<!--Page-2-->

<!--End Spacing-->
<div class="spacing-10"></div>
<!--End Spacing-->
{% endblock %}


{% block script %}
{% endblock %}